@import "../theme";

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: white;
    opacity: 1;
    color: black;
    .routeIcon {
      margin-right: 1rem;
      color: #4660CE;
    }
  }
  .mat-list-item:hover {
    opacity: 1;
  }
  &:hover,
  &:focus {
    > .mat-list-item:not(.expanded) {
      opacity: 1;
    }
  }
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;
  color: white;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.8;
  // height: 2.5rem;
  .routeIcon {
    margin-right: 1rem;
    color: white;
  }
}
