<div class="formmargin">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="box1">
    <div class="box2" fxLayout="row" fxLayoutAlign="start start">
      <div fxLayout="column" fxLayoutAlign="start start">
        <div fxLayout="column" fxLayoutAlign="space-between end" class="tit1">
          <span>Active Devices</span>
          <div class="underline1"></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:3.2rem;">
          <div class="circle_orange"></div>
          <span class="pielegendtxt">Active</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:0.7rem;">
          <div class="circle_blue"></div>
          <span class="pielegendtxt">Inactive</span>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:0.7rem;">
          <div class="circle_black"></div>
          <span class="pielegendtxt">Pune</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:0.7rem;">
          <div class="circle_green"></div>
          <span class="pielegendtxt">Chennai</span>
        </div> -->

      </div>

      <div class="vdevider"></div>

      <div class="chart-container" fxLayout="column" fxLayoutAlign="space-between start">
        <canvas id="canvas"></canvas>
        <span class="pieheading">Devices</span>
      </div>

    </div>
    <div class="box2" fxLayout="column" fxLayoutAlign="start start" style="overflow: auto;">
      <div fxLayout="column" fxLayoutAlign="space-between end" class="tit1">
        <span>Recently Updated</span>
        <div class="underline3"></div>
      </div>
      <mat-list style="width:100%;">
        <mat-list-item *ngFor="let item of recentlyUpdated">
          <div style="width: 96%;
          padding-left: 2%;">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3rem" style="width: 100%;color: #262626;">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="locbox">
                <span>{{item.device_assign.locID}}</span>
              </div>
              <div fxLayout="column" fxLayoutAlign="start start">
                <span style="font-size: 14px;
                font-weight: 500;">{{item.device_log.deviceID}}</span>
                <span style="    font-size: 11px;
                opacity: 0.6;">{{item.device_assign.location.lcoationText}}</span>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="circle_active"></div>
              <span style="font-size: 11px;">{{item.timeDiff}}</span>
            </div>
          </div>
          <div class="list_sep"></div>
        </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="box2" fxLayout="column" fxLayoutAlign="start start">
      <div fxLayout="column" fxLayoutAlign="space-between end" class="tit1">
        <span>Card3</span>
        <div class="underline4"></div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:0.5rem;">
        <div class="scircle_orange"></div>
        <span class="pielegendtxt1">Active Devices</span>
        <div class="scircle_blue"></div>
        <span class="pielegendtxt1">Inactive Devices</span>
      </div>
      <div style="display: block;margin-top:.5rem;margin-left: 1rem;">
        <canvas baseChart width="320" height="120" [datasets]="lineChartData" [labels]="lineChartLabels"
          [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top:1.5rem;margin-bottom: 1.5rem;">
    <div fxLaout="row" fxLayoutAlign="start center" class="searchbar">
      <img src="assets/images/search.svg" style="width:18px;margin-left: 1rem;margin-right: 1rem;">
      <input placeholder="Search" class="inputfield" [(ngModel)]="key" (keyup)="handlefilter()" autocomplete="off">
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.5rem">
      <div class="mainselect">
        <mat-select class="actionselect1" disableOptionCentering placeholder="Active" (selectionChange)="deviceselect($event.value)">
          <mat-option [value]="1">Active</mat-option>
          <mat-option [value]="2">Inactive</mat-option>
          <mat-option [value]="3">All</mat-option>
        </mat-select>
      </div>
      <div matRipple fxLayout="row" fxLayoutAlign="center center" class="excel" (click)="downloadToExcel()">
        <img src="assets/images/excel.svg" style="width: 18px;">
        <!-- <span style="color: #3e3e3e;font-size:11px;font-weight:500;">Download to Excel</span> -->
      </div>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" class="tableborder">

    <ng-container matColumnDef="equipmentname">
      <mat-header-cell *matHeaderCellDef class="headercolor alignhead"> DeviceID</mat-header-cell>
      <mat-cell *matCellDef="let element;index as i" class="alignbox">
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <div class="divbox" [ngStyle]="{'background-color':i%2==0 ? '#d87e39' : '#6f52ed'}"></div>
          <label class="boldtext">{{element.deviceID}}</label>
        </div>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef class="headercolor"> Location</mat-header-cell>
      <mat-cell *matCellDef="let element" >{{element.location.lcoationText}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="equipmentid">
      <mat-header-cell *matHeaderCellDef class="headercolor"> Equipment ID</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <label class="boldtext">{{element.equipmentID}}</label>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="device">
      <mat-header-cell *matHeaderCellDef class="headercolor "> Equipment Name</mat-header-cell>
      <mat-cell *matCellDef="let element" class="boldtext">
        {{element.equipment.text}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="parameter1">
      <mat-header-cell *matHeaderCellDef class="headercolor aligncenter"> Battery</mat-header-cell>
      <mat-cell *matCellDef="let element" class="aligncenter">
        {{element.device.battery}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="parameter2">
      <mat-header-cell *matHeaderCellDef class="headercolor aligncenter"> Healthy</mat-header-cell>
      <mat-cell *matCellDef="let element" class="aligncenter">
        {{element.device.healthy}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="parameter3">
      <mat-header-cell *matHeaderCellDef class="headercolor aligncenter"> Software Version</mat-header-cell>
      <mat-cell *matCellDef="let element" class="aligncenter">
        {{element.device.softwareVersion}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="parameter4">
      <mat-header-cell *matHeaderCellDef class="headercolor aligncenter"> Vcc</mat-header-cell>
      <mat-cell *matCellDef="let element" class="aligncenter">
        {{element.device.vcc}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isenable">
      <mat-header-cell *matHeaderCellDef class="headercolor aligncenter"> isEnable</mat-header-cell>
      <mat-cell *matCellDef="let element" class="aligncenter">
        {{element.device.isEnabled}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="headercolor aligncenter">Action</mat-header-cell>
      <mat-cell *matCellDef="let element" class="aligncenter">
        
          <div class="cellselect">
          <mat-select class="actionselect" placeholder="Action" (selectionChange)="actionselect($event.value,element)">
            <mat-option [value]="1">View Details</mat-option>
            <mat-option [value]="2">Enable</mat-option>
            <mat-option [value]="3">Disable</mat-option>
          </mat-select>
        </div>
       
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns" class="colheader"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <!-- <mat-progress-bar mode="indeterminate" [ngClass]="{'hide':dataSource!=null}"></mat-progress-bar> -->
</div>