.toolbar{
    background-image: url(./header.png);
        background-size: 100% 100%;
    height: 70px;
        font-size: 18px;
        font-weight: bold;
    letter-spacing: 1px;
      color: #3e3e3e;
    background-color:white;
    }