<div fxLayout="row" fxLayoutAlign="start start" style="height: 89.5%;">
    <div class="left_side">
        <div fxLayout="column" fxLayoutAlign="start center" style="margin-top: 1rem;">
            <div fxLayout="row" fxLayoutAlign="center center" class="searchbar">
                <input class="inputfield1" placeholder="Search" style="margin-left: 0.5rem;">
                <img src="assets/images/search.svg" style="width: 15px; margin-right: 0.5rem;">
            </div>
            <mat-selection-list [multiple]="false" [disableRipple]="true" #mdevices style="width: 100%;margin-bottom: 1.5rem;" class="matlist">
                <mat-list-option class="cards" *ngFor="let item of paramassigns;index as i" [selected]="i==0 && !isCreate" [value]="item.assignmentID" (click)="getselected(mdevices.selectedOptions.selected[0]?.value)">
                    <div style="width: 100%;height: 100%;padding-left: 3%;" fxLayout="column" fxLayoutAlign="center start">
                        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
                            <span style="font-weight: 500;
                        letter-spacing: 0.5px;font-size: 15px;">{{item.parameters[0].device_assign.deviceID}}</span>
                            <span style="font-size: 14px;">{{item.parameters[0].device_assign.createdOn | date:'dd/MM/yyyy'}}</span>
                        </div>
                        <span style="font-size: 13px;
                        opacity: 0.6;">AssignmentID:{{item.assignmentID}}</span>
                    </div>
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
    <div class="right_side">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="padding-left: 3%;
        padding-right: 3%;" *ngIf="!isCreate">
        <mat-form-field class="form_field">
          <mat-label>AssignmentID</mat-label>
          <input matInput autocomplete="off" readonly [value]="assignmentID">
        </mat-form-field>
        <mat-form-field class="form_field">
          <mat-label>DeviceID</mat-label>
          <input matInput autocomplete="off" readonly [value]="deviceID">
      </mat-form-field>
      <mat-form-field class="form_field">
        <mat-label>EquipmentID</mat-label>
        <input matInput autocomplete="off" readonly [value]="equipmentID">
      </mat-form-field>
      <mat-form-field class="form_field">
        <mat-label>LocationID</mat-label>
        <input matInput autocomplete="off" readonly [value]="locationID">
      </mat-form-field>
      </div>
        <form [formGroup]="mform">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" style="padding-left: 3%;
        padding-right: 3%;">
            <mat-form-field class="form_field" *ngIf="isCreate">
                <mat-label>AssignmentID</mat-label>
                <mat-select formControlName="assignmentID" (selectionChange)="assignselect($event.value)">
                  <mat-option *ngFor="let device of assignments" [value]="device.assignmentID">
                    {{device.assignmentID}} - {{device.deviceID}} - {{device.equipmentID}} - {{device.locID}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
              <button mat-raised-button color="primary" (click)="addparamassignment()" style="position: absolute;
              right:1%;background-color: #4660CE;">Add Param</button>
              <div style="width:96%;padding-left: 3%;
              overflow: auto;">
              <mat-table [dataSource]="dataSource" class="tableborder" formArrayName="parameters">
                <ng-container matColumnDef="pramID">
                  <mat-header-cell *matHeaderCellDef class="headercolor alignhead"> PramID</mat-header-cell>
                  <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" style="margin-right: 1%;">
                    <div fxLayout="row" fxLayoutAlign="start center">
                      <div class="divbox" [ngStyle]="{'background-color':i%2==0 ? '#d87e39' : '#6f52ed'}"></div>
                      
                      <div class="cellselect" >
                        <mat-select style="width:4rem;" placeholder="Select" formControlName="pramID" (selectionChange)="paramselect($event.value,i)">
                          <mat-option *ngFor="let param of deviceparams" [value]="param.paramID">{{param.paramID}}</mat-option>
                        </mat-select>
                      </div>
                      
                    </div>
                  </mat-cell>
                </ng-container>
            
            
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef class="headercolor"> Title</mat-header-cell>
                  <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" >
                    <mat-form-field class="tformfield">
                        <input matInput autocomplete="off" formControlName="title">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
            
            
                <ng-container matColumnDef="unit">
                  <mat-header-cell *matHeaderCellDef class="headercolor"> Unit</mat-header-cell>
                  <mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                    <mat-form-field class="tformfield">
                        <input matInput autocomplete="off" formControlName="unit">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="longText">
                  <mat-header-cell *matHeaderCellDef class="headercolor"> Long Text</mat-header-cell>
                  <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" class="boldtext">
                    <mat-form-field class="tformfield">
                        <input matInput autocomplete="off" formControlName="longText">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="min">
                  <mat-header-cell *matHeaderCellDef class="headercolor"> Min</mat-header-cell>
                  <mat-cell *matCellDef="let element;index as i" [formGroupName]="i">
                    <mat-form-field class="tformfield">
                        <input type="number" matInput autocomplete="off" formControlName="min">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="max">
                  <mat-header-cell *matHeaderCellDef class="headercolor "> Max</mat-header-cell>
                  <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" >
                    <mat-form-field class="tformfield">
                        <input type="number" matInput autocomplete="off" formControlName="max">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="icon">
                  <mat-header-cell *matHeaderCellDef class="headercolor "> Icon</mat-header-cell>
                  <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" >
                    <mat-form-field class="tformfield">
                        <input matInput autocomplete="off" formControlName="icon">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="soft_1_Exception_Threshold">
                  <mat-header-cell *matHeaderCellDef class="headercolor "> SET1</mat-header-cell>
                  <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" >
                    <mat-form-field class="tformfield">
                        <input type="number" matInput autocomplete="off" formControlName="soft_1_Exception_Threshold">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="soft_2_Exception_Threshold">
                    <mat-header-cell *matHeaderCellDef class="headercolor"> SET2</mat-header-cell>
                    <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" >
                        <mat-form-field class="tformfield">
                            <input type="number" matInput autocomplete="off" formControlName="soft_2_Exception_Threshold">
                        </mat-form-field>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="hard_1_Exception_Threshold">
                    <mat-header-cell *matHeaderCellDef class="headercolor "> HET1</mat-header-cell>
                    <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" >
                        <mat-form-field class="tformfield">
                            <input type="number" matInput autocomplete="off" formControlName="hard_1_Exception_Threshold">
                        </mat-form-field>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="hard_2_Exception_Threshold">
                    <mat-header-cell *matHeaderCellDef class="headercolor "> HET2</mat-header-cell>
                    <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" >
                        <mat-form-field class="tformfield">
                            <input type="number" matInput autocomplete="off" formControlName="hard_2_Exception_Threshold">
                        </mat-form-field>
                    </mat-cell>
                  </ng-container>
            
                <ng-container matColumnDef="activityGraphTitle">
                  <mat-header-cell *matHeaderCellDef class="headercolor ">GraphTitle</mat-header-cell>
                  <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" >
                    <mat-form-field class="tformfield">
                        <input matInput autocomplete="off" formControlName="activityGraphTitle">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef class="headercolor aligncenter" style="margin-left:-3%">Delete</mat-header-cell>
                  <mat-cell *matCellDef="let element;index as i" [formGroupName]="i" class="aligncenter" style="margin-left:-3%">
                    <mat-icon (click)="removeparam(i)" style="color: red;cursor:pointer">delete</mat-icon>
                  </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns" class="colheader"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
    </form>

        <button mat-fab color="primary" (click)="create()" style="position: absolute;
        bottom: 5rem;
        right: 3rem;
        background-color: #4660CE;">
            <mat-icon>add</mat-icon>
          </button>
        <div class="footer" fxLayout="row" fxLayoutAlign="end center">
            <!-- <button *ngIf="!isCreate" class="foo_button1" mat-button (click)="handle_delete()">Delete</button> -->
            <button *ngIf="!isCreate" class="foo_button2" mat-button (click)="handle_update()">Save</button>
            
            <button *ngIf="isCreate" class="foo_button2" mat-button (click)="handle_create()">Create</button>
        </div>
    </div>
</div>


